ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#e2abab
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
    #time{
        float: right;
        margin-right: 200px;
        color:  rgb(74, 48, 86)
    }

    #highscore{
        margin-left: 160px;
        color: rgb(74, 48, 86)
    }
